:root {
    --bg-color: var(--dark-shade0);
    --fg-color: var(--dark-shade7);
    --subtle-fg-color: var(--dark-shade6);
    --accent-medium: var(--dark-accent3);
    --accent-github: var(--dark-accent0);
    --accent-linkedin: var(--dark-accent4);
    --accent-twitter: var(--dark-accent5);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: var(--light-shade0);
        --fg-color: var(--light-shade7);
        --subtle-fg-color: var(--light-shade6);
        --accent-medium: var(--light-accent3);
        --accent-github: var(--light-accent0);
        --accent-linkedin: var(--light-accent4);
        --accent-twitter: var(--light-accent5);
    }
}

body, html, .wrapper {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: center;

    background: var(--bg-color);
    color: var(--fg-color);
    font-family: 'Comfortaa', sans-serif;
}

.link-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "links name";
    align-items: center;
}

.name {
    grid-area: name;

    font-size: 5rem;
    padding-left: 1rem;
    font-weight: inherit;
    
    transition: .5s ease;
}

.links {
    grid-area: links;

    list-style-type: none;
    font-size: 1.5rem;
    text-align: right;

    border-right: 1px solid var(--subtle-fg-color);
    padding-right: 1rem;
}

.links a {
    text-decoration: none;
    color: inherit;
    transition: .5s ease;
}

.link-wrapper:not(:focus-within) .links li a:hover, .links li a:focus {
    font-size: 3rem;
}

.link-wrapper:not(:focus-within) .links li.medium a:hover, .links li.medium a:focus {
    color: var(--accent-medium);
}
.link-wrapper:not(:focus-within) .links li.github a:hover, .links li.github a:focus {
    color: var(--accent-github);
}
.link-wrapper:not(:focus-within) .links li.linkedin a:hover, .links li.linkedin a:focus {
    color: var(--accent-linkedin);
}
.link-wrapper:not(:focus-within) .links li.twitter a:hover, .links li.twitter a:focus {
    color: var(--accent-twitter);
}

.wrapper[data-selected-link="medium"] .name {
    color: var(--accent-medium);
}
.wrapper[data-selected-link="github"] .name {
    color: var(--accent-github);
}
.wrapper[data-selected-link="linkedin"] .name {
    color: var(--accent-linkedin);
}
.wrapper[data-selected-link="twitter"] .name {
    color: var(--accent-twitter);
}